.pokemon-area {
    padding-top: 20px;
}

.pokemon-pic {
    height: 10em;
    position: center;
}

.data-area {
    height: 10em;
}


#pokemon-list {
    height: 150px;
    overflow: auto;
}

#pokemon-data-area {
    padding: 5px 10px;
    overflow: auto;

}