<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mafia</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="main.css">
</head>
<body ng-app="MafiaApp" class="container">
	<div ng-controller="Ctrl">
	
		<h1 class="nav navbar-default">Hit List</h1>
		
		<div ng-repeat="bounty in hitList">
			<h1>{{bounty.name}}</h1>
			<img ng-src="{{bounty.image}}" class="img-responsive">
			<button ng-click="removeBounty($index)" class="btn btn-default">Killed</button>
		</div>
	</div>
	
	<!-- scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="ui-bootstrap-tpls-0.13.0.min.js"></script>
	<script src="app.js"></script>
	<script src="mafia-service.js"></script>
</body>
</html>